main{
	padding-top: 4.5rem;
	padding-bottom: 6rem;
}
body{
	background: #f5f5f5;
}

/**/
.base{
	background: #fff;
	max-height: 12rem;
	padding: 1rem 0.8rem;
}
.base h4{
	font-weight: 500;
	color:#1f1f1f; 
	font-size: 1.4rem;
	text-align: left;
}
.base i{
	color:#999999;
	font-size: 1.2rem;
}
.base .active{
	color:#ff6601;
}
.base span{
	color: #959595;
	font-size: 1.2rem;
}
.base h3{
	color: #e52600;
	font-size: 1.8rem;
}
.base h3:after{
	content: " / piece";
	color: #959595;
	font-size: 1.2rem;
	font-weight: 300;
}
.base .line-2{
	line-height: 2.6rem;
}
.base .line-3{
	position: relative;
}
.base .orders{
	position: absolute;
	right: 0.8rem;
	bottom: 0;
}
/**/
.details {
	margin-top: 1.8rem;
	line-height:1.6;
}
.details a{
	display: block;
}
.details .parameter a div{
	display: table-row;
}
.details .parameter a div span{
	display: table-cell;
}
.details li{
	position: relative;
	padding: 0.8rem;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.details li:last-child{
	border: none;
}
.details .color{
	display: inline-block;
	margin-right: 1rem;
}
.details .title{
	color: #333333;
	font-weight: 600;
	display: inline-block;
	margin-right: 0.5rem;
}
.details span{
	color: #959595;
	font-size: 1.4rem;
}
.color{
    margin-top: -0.4rem;
    vertical-align: middle;
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	border:1px solid #ccc;
}
.details .size{
	word-spacing:0.5rem;
}

.details .shipType{
	font-size: 1.4rem;
	color: #78cd66;
}
.details .address{
	font-size: 1.2rem;
}
.details .icon-go{
	color: #9e9e9e; font-size: 1.3rem;display: block;position: absolute;margin: 0;top: 50%;
	margin-top: -1rem;right: 0.8rem;
}
.details .shipping-time{
	line-height: 4rem;
}

.color-a6d344{background-color:#a6d344}
.color-b3fb01{background-color:#b3fb01}
.color-fdf900{background-color:#fdf900}
.color-fcb700{background-color:#fcb700}
.color-fc5f00{background-color:#fc5f00}

.buy{
	font-size: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	border-top: 1px solid #ccc;
	width: 100%;
	padding: 1rem 0;
	height: 6rem;
}
.buy a {
	margin: 0 2.5%;
	width: 45%;
	border-radius: 0.4rem;
	display: inline-block;
	line-height: 4rem;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 300;
	color: #fff;
}
.buy .buyNow{
	background: #e52e04;
}
.buy .addCart{
	background: #ff6600;
}
/**/
.options{
	z-index: 99;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	transition:transform 300ms ease;
	-webkit-transition:transform 300ms ease;
	transform:translateY(100%);
}
.options .topbar{
	line-height: 4.3rem;
	border-bottom: 1px solid #ccc;
	font-size: 1.8rem;
	color: #1f1f1f;
	text-align: center;
	position: relative;
}
.options .topbar span{
	display: block;
}
.topbar .icon-cha{
	font-size: 1.4rem;
	color: #ccc;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 4rem;
	text-align: center;
}
.topbar .title{
	width: 100%;
}
.options .para{
	padding:  1.5rem 1.2rem;
}

.para dl{
	margin-bottom: 1rem;
}
.para dl dt{
	color: #9a9a9a;
	font-size: 1.6rem;
	line-height: 2rem;
}
.para dl span{
	color: #1f1f1f;
	font-size: 1.4rem;
}

.para dl .dd{
	width: 100%;
	font-size: 0;
	margin-top: 0.4rem;
}
.para .col_5, .para .col_4, .para .col_3, .para .col_2, .para .col_1{
	position: relative;
    display: inline-block;
    margin-bottom: 0.8rem;
}
.para .col_5{
    width: 15%;
    margin-right: 6.25%;
}
.para .col_4{
    width: 20%;
    margin-right: 6.66%;
}
.para .col_2{
    width: 46%;
    margin-right: 8%;
}
.para .col_1{
    width: 80%;
}
.para .col_5:nth-child(5n+0), .para .col_4:nth-child(4n+0), .para .col_2:nth-child(2n+0){
    margin-right: 0;
}
.para .col_4 > *{
    margin: 0 auto;
}
.para dl .dd dd span{
	display: block;
	border: 1px solid #ccc;
	height: 2.8rem;
	text-align: center;
	line-height: 2.8rem;
}
.para .color{
	box-sizing:content-box;
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	margin: 0 auto;
}
.para input{
	opacity: .2;
	width: 100%;
	height: 100%;
	position: absolute;
    left: 0;
}
.para .disable span,.para .disable i{
	border: 2px dashed #D6D6D8!important;
    color: #CDCDCD;
    /* margin: 0; */
    cursor: not-allowed;
}
.para .disable input[type=radio]{
	display: none;
}
.para input:checked+*{
	position: relative;
	border: 2px solid #e72d04 !important;
}
.para input:checked+*:after{
	content: "\e616";
	font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
	font-size: 1.6rem;
	position: absolute;
	color: #e72d04;
	right: 0;
	line-height: 1;
	bottom: -3px;
}
.para input:checked+*:before{
	content: "";
	font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
	width: 0;
    height: 0;
    border-bottom: 1.6rem solid #fff;
    border-left: 1.6rem solid transparent;
    position: absolute;
    right: 0;
    bottom: -3px;
}
.options .goods{
	width: 100%;
	height: 8rem;
	padding: 1.2rem 1rem 0.8rem 1rem;
	background: #fff;
	border-bottom: 1px solid #ccc;
	display: -webkit-box;
	font-size: 0;
}

.goods .img{
	min-width: 18%;
	display: block;
}
.goods img{
	/*width: 100%;*/
    max-height: 6rem;
    margin: 0 auto;
    display: block;
}
.goods .right{
	margin-left: 1rem;
	max-width: 82%;
	display: block;
	-webkit-box-flex:1;
	vertical-align: top;
}
.goods p{
	font-size: 1.4rem;
	color: #1f1f1f;
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goods h3{
	color: #e52600;
	font-size: 1.6rem;
	margin-top: 0.8rem;
}
.goods h3:after{
	content: " / piece";
	color: #959595;
	font-size: 1.2rem;
	font-weight: 300;
}

.options .done{
	background: #fff;
	border-top: 1px solid #ccc;
	width: 100%;
	padding: 1rem 0;
	z-index: 100;
}
.options .done a {
	display: block;
	background: #e52e04;
	margin: 0 4%;
	width: 92%;
	border-radius: 0.4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 300;
	color: #fff;
}
/**/
.option-quantity .add, .option-quantity .minus{
	position: relative;
	text-align: center;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
	border:1px solid #ccc;
	background: #fff;
	font-size: 1.4rem;
}
.option-quantity .add{
	border-top-right-radius: 0.4rem; 
	border-bottom-right-radius: 0.4rem; 
}
.option-quantity .minus{
	border-top-left-radius: 0.4rem; 
	border-bottom-left-radius: 0.4rem; 
}
.option-quantity .piece{
	margin-left: 2rem;
	color: #999999;
	font-size: 1.2rem;
	vertical-align: middle;
	font-weight: 300;
}
.option-quantity .add:after, .option-quantity .minus:after{
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	position: relative;
	top: 20%;
	font-size: 1.4rem;
}
.option-quantity .add:after{
	content: "\e612";
}
.option-quantity .minus:after{
	content: "\e61a";
}
.option-quantity input[type="number"]{
	vertical-align: middle;
	display: inline-block;
	width: 5rem;
	height: 3rem;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-size: 1.6rem;
	position: static;
	opacity: 1;
}
/**/
.fvWrapper{
	position: fixed;
	background: rgba(0,0,0,.8);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
}
.img-fullView{
	width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    z-index: 999;
    top: 50%;
}
.icon-gouwuche{
	right: 0;
}
/*.goods .fullscreen:after{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e609";
display: block;
position: absolute;
right: 2rem;
top: 5rem;
font-size: 1.8rem;
};*/